html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fc0;
    z-index: 2;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 2px solid black;
}

.face_title {
    margin-top: 75px;
    margin-left: 115px;
    font-family: 'Arial', sans-serif; /* Change the font family */
    font-size: 24px; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    color: white; /* Change the text color */
}

body {
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.container {
    margin: 50px auto;
}

.category-title {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
}

.movies-container,
.games-container,
.songs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie,
.game,
.song {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: #ddd;
    margin: 10px;
    position: relative;
}

.movie-title,
.game-title,
.song-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.movie-image,
.game-image,
.song-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-content button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #fc0;
    color: black;
    cursor: pointer;
}

.footer-content button:hover {
    background-color: #f90;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Optional: Adds space between the buttons */
}

.footer-text {
    text-align: center;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal-content {
    position: relative;
    background-color: #e7e569;
    border-radius: 30px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
    transform: scale(0);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    width: 20%; /* adjust as needed */
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
}

.modal-content p {
    font-family: 'Helvetica', sans-serif; /* Change the font family to Helvetica for a more modern look */
    font-weight: 550; /* Increase the font weight to make the text slightly thicker */
    text-align: center; /* Center align the text */
}


.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Optional: Adds space between the columns */
    flex-wrap: wrap;
    flex-wrap: 45%;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.movie,
.game {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: #ddd;
    margin: 10px;
    position: relative;
    opacity: 0;
}

.movie {
    animation: slideInFromRight 1s ease-out forwards;
    /* Remove the opacity property */
}

.game {
    animation: slideInFromLeft 1s ease-out forwards;
    /* Remove the opacity property */
}


.movie-image {
    animation: slideInFromRight 1s ease-out forwards;
}

.movie:nth-child(1) {
    animation-delay: 0s;
}

.movie:nth-child(2) {
    animation-delay: 0.5s;
}

.movie:nth-child(3) {
    animation-delay: 1s;
}

.movie:nth-child(4) {
    animation-delay: 1.5s;
}

.movie:nth-child(5) {
    animation-delay: 2s;
}

.game:nth-child(1) {
    animation-delay: 0s;
}

.game:nth-child(2) {
    animation-delay: 0.5s;
}

.game:nth-child(3) {
    animation-delay: 1s;
}

.game:nth-child(4) {
    animation-delay: 1.5s;
}

.game:nth-child(5) {
    animation-delay: 2s;
}

@media(min-width: 601px) {

    .category-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    footer {
        position: fixed; /* Change to relative */
        margin-top: auto; /* Add this line */
        left: 0;
        bottom: 0;
        width: 100%;
        flex-shrink: 0;
        background-color: rgb(255, 216, 59);
        color: black;
        padding: 20px;
        text-align: left;
    }
}

@media(max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: center;
    }
    
    .navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 7px; /* Reduced horizontal padding */
        text-decoration: none;
    }

    .category-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    footer {
        margin-top: auto; /* Add this line */
        left: 0;
        bottom: 25px;
        flex-shrink: 0;
        background-color: rgb(255, 216, 59);
        color: black;
        padding: 20px;
        text-align: left;
    }
}