html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    background-image: url('background_img.png'); /* Add this line */
    background-size: cover; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
}

.background {
    width: 100%;
    background-image: url('other_img.jpg');
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Add this line */
    background-size: cover; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    z-index: 2;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 2px solid gold;
}

.fade-in-text {
    animation: fadeIn 3s;
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* Apply the animation to the .column and .column-side classes */
.column, .column-side {
    animation: fadeIn 5s ease-in-out;
}


.row {
    display: flex;
    justify-content: space-around; /* This will add space around the columns */
    padding-bottom: 35px;
}

.column {
    width: 25%; /* Reduced width to make the boxes smaller */
    height: 25%;
    box-sizing: border-box;
    background-color: black; /* Black background */
    color: white; /* White text */
    font-family: Arial, sans-serif; /* Use a modern sans-serif font */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    animation: slideInFromBottom 2s ease-out forwards;
}

.left_img {
    width: 100%;
    height: 30%; /* Reduced height */
}

.right_img {
    width: 100%;
    height: 30%; /* Reduced height */
}

.image-container {
    width: 100%;
    height: 30%; /* Reduced height */
}

.text-container {
    width: 90%;
    height: 305px; /* Increased height to fill the remaining space */
    padding: 10px; /* Padding is now applied to the text container */
}

/* Responsive layout - makes the menu and the content stack on top of each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.column-side {
    flex: 1; /* Added this line */
    padding: 0; /* Set padding to 0 */
    box-sizing: border-box;
    background-color: black; /* Black background */
    color: white; /* White text */
    font-family: Arial, sans-serif; /* Use a modern sans-serif font */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 80px; /* Add this line */
    animation: slideInFromRight 2s ease-out forwards;
}

.text-container-side {
    width: 60%; /* Adjusted width to fill the remaining space */
    height: 100%;
    padding: 10px; /* Padding is now applied to the text container */
    font-size: 1vw; /* Font size changes based on the width of the viewport */
}

.image-container-side {
    width: 40%; /* Adjusted width */
    height: 100%;
    padding: 0; /* Add this line */
}

.side_img {
    width: 100%; /* This will make the image take up the full width of its container */
    height: 100%;
}

.highlighted_research {
    padding: 20px; /* Add some padding */
    color: black; /* White text */
    font-family: Arial, sans-serif;
    padding-left: 20px;
}

footer {
    background-color: #333; /* Gray background */
    color: white; /* White text */
    padding: 20px; /* Add some padding */
    text-align: left; /* Center the text */
}

.footer-content p {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.column, .column-side {
    /* Add the border-radius property */
    border-radius: 20px; /* Adjust this value to get the desired roundness */
}

.left_img, .right_img, .side_img {
    /* Add the border-radius property */
    border-radius: 20px; /* Adjust this value to get the desired roundness */
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
